# Python
__pycache__/
*.pyc
.venv/
venv/
dist/
*.egg-info/

# Node.js
node_modules/
dist/
build/
*.log
.env*
package-lock.json

# Docusaurus
.docusaurus/
.cache/
build/

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db


.env